<html xmlns:th="http://www.thymeleaf.org" xmlns:layout=
"http://www.ultraq.net.nz/thymeleaf/layout" xmlns=
"http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!--/*  Each token will be replaced by their respective titles in the resulting page. */-->
    <title layout:title-pattern=
    "$DECORATOR_TITLE - $CONTENT_TITLE">
      App
    </title>
   <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
            
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic"
    type="text/css" />
    
  </head>
<body>
	 
		 <nav class="light-blue lighten-1" role="navigation">
	    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Logo</a>
	      <ul class="right hide-on-med-and-down">
	        <li><a href="#">Navbar Link</a></li>
	      </ul>
	
	      <ul id="nav-mobile" class="sidenav">
	        <li><a href="#">Navbar Link</a></li>
	      </ul>
	      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
	    </div>
	  </nav>
	  <div class="container center-align">
	  	<div layout:fragment="content"></div>
	  </div>
	 
</body>
</html>